* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding-top: 42px;
}

.text {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	opacity: 0.6;
}

.text-project {
	width: 75%;
	margin: 32px auto 64px;
	color: #222222;
	opacity: 1;
	text-align: center;

}

.text-footer {
	color: #FFFFFF;
	opacity: 0.6;
}

.text-contact {
	letter-spacing: 0.04em;
	margin-bottom: 16px;
}

.text-contact-us {
	width: 60%;
	text-align: center;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.6);
	margin: 16px auto;
}

.text-contact-tel {
	background: url('img/tel.svg') left no-repeat;
	padding-left: 41px;
}

.text-contact-site {
	background: url('img/site.svg') left no-repeat;
	padding-left: 41px;
}

.text-contact-mail {
	background: url('img/mail.svg') left no-repeat;
	padding-left: 41px;
}

.text-massege {
	margin-bottom: 8px;
	margin-top: 32px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.8;
}

.text-1 {
	width: 425px;
}

.text-rights {
	padding-bottom: 64px;
	margin-top: 64px;
	color: #FFFFFF;
	opacity: 0.4;
}

.header {
	min-height: 768px;
	background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.heading {
	font-size: 64px;
	width: 510px;
	font-weight: 300;
	line-height: 74px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	margin-bottom: 32px;
}

.lead {
	flex-grow: 1;
	padding-top: 115px;
	background-image: url('img/top-back.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 45%;
}

.lead-button {
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	background: #5A98D0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	text-decoration: none;
	padding: 15px 50px;
	display: inline-block;
	margin-top: 71px;
}

.lead-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.heading-h2 {
	font-weight: 500;
	font-size: 44px;
	text-align: center;
}

.heading-h2-contact {
	line-height: 74px;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	padding-top: 50px;
}

.content {
	padding-top: 64px;
}

.heading-h3 {
	font-size: 36px;
	text-align: center;
	font-weight: 300;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #000000;
}

.heading-h3-footer {
	text-align: left;
	color: #FFFFFF;
	margin-bottom: 32px;
}

.heading-h4 {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	margin-bottom: 14px;
}

.heading-h4-contact {
	letter-spacing: 0.04em;
	color: #1F3F68;
	margin-bottom: 24px;
	margin-top: 34px;
}

.heading-h4-massge {
	margin-bottom: 16px;
}

.body {
	display: flex;
	justify-content: space-between;
	padding-top: 64px;
	padding-bottom: 64px;
}

.body-link {
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #5A98D0;
	text-decoration: none;
	margin-top: 30px;
}

.body-pic {
	align-self: center;
	margin-bottom: 51px;

}

.vertical {
	display: flex;
	width: 359px;
	flex-direction: column;
	padding: 44px 32px;
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
}

.project {
	font-size: 32px;
	line-height: 46px;
	text-align: right;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	margin-bottom: 112px;
}

.project-img {
	width: 100%;
}

.project-item {
	position: relative;
	flex-grow: 1;
}

.project-item-margin {
	margin-right: 32px;
}

.project-text {
	position: absolute;
	top: 64px;
	right: 64px;
}

.project-text2 {
	position: absolute;
	top: 32px;
	left: 32px;
}

.project-text3 {
	position: absolute;
	top: 32px;
	left: 32px;
}

.project-parent {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.footer {
	max-height: 657px;
	background: #316099;
	padding-top: 91px;
	box-sizing: border-box;
}

.final {
	display: flex;
	margin-bottom: 95px;
}

.final-section {
	width: 50%;
}

.final-button {
	margin: auto;
	text-align: right;
	width: 50%;
}

.final-section-button {
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	background: #5A98D0;
	text-decoration: none;
	padding: 15px 80px;
	margin-left: 15%;
}

.footer-line {
	opacity: 0.4;
	border: 1px solid #FFFFFF;
}

.contacts {
	margin-top: 64px;
}

.list {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
}

.list-li {
	width: 25%;
	padding-left: 20px;
}



.allcontact {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.contact {
	display: flex;
	align-self: center;
	flex-direction: column;
	width: 300px;
}

.contact-img {
	margin-bottom: 22px;
	margin-top: 78px;
}

.contact-us {
	height: 250px;
	background-image: url('img/contact-top.png');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 54px;
	margin-bottom: 57px;
}

.massage {
	box-sizing: border-box;
	width: 540px;
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	padding: 56px;

}

.other {
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
	opacity: 0.4;
	height: 56px;
	padding: 21px 36px;
}

.other-massege {

	height: 144px;
}

.input::placeholder {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.2;
	margin: 16px 36px;
}

.button {
	background: #5A98D0;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 72px;
	padding: 23px 0;
	letter-spacing: 0.04em;
	border: 0;
}

.container-map {
	margin: 95px auto;
	width: 940px;
}

@media (max-width: 1024px) {
	.container {
		padding-left: 32px;
		padding-right: 32px;
	}

	.lead {
		background-position: right 280px;
		padding-bottom: 10%;
	}

	.body {
		flex-direction: column;
		align-items: center;
	}

	.vertical {
		margin-bottom: 32px;
	}

	.project-text2 {
		font-size: 28px;
		top: 20px;
		left: 20px;
	}

	.project-text3 {
		font-size: 28px;
		top: 20px;
		left: 20px;
	}

	.footer {
		max-height: 657px;
		padding: 47px 10% 0;
		box-sizing: content-box
	}

	.final {
		margin-bottom: 64px;
	}

	.final-section {
		width: 70%;
	}

	.final-button {
		text-align: center;
	}

	.final-section-button {
		padding: 7px 30px
	}

	.list {
		display: flex;
		flex-direction: column;
		padding-left: 20px;
	}

	.list-li {
		width: 100%;
		margin-bottom: 25px;
		padding-left: 36px;
	}

	.text-rights {
		margin-top: 40px;
	}

	.allcontact {
		flex-direction: column;
	}

	.container-map {
		width: 100%;
	}

	.contact-us {
		margin-bottom: 0;
	}

	.text-contact-us {
		width: 65%;
		font-size: 20px;
		line-height: 30px;
	}

	.contact {
		margin-bottom: 64px;
	}
}

@media (max-width: 667px) {
	.header {
		min-height: 376px;
		padding-bottom: 41px;
		box-sizing: border-box;
	}

	.container {
		padding-left: 16px;
		padding-right: 16px;
	}

	.menu {
		padding-top: 24px;
	}

	.lead {
		padding-top: 36px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: none;
	}

	.heading {
		font-size: 32px;
		line-height: 37px;
		margin-bottom: 12px;
		width: 100%;
		text-align: center;
	}

	.heading-h3 {
		font-size: 24px;
		line-height: 28px;
	}

	.content {
		padding-top: 48px;
	}

	.body {
		padding-top: 32px;
	}

	.text-1 {
		width: 100%;
		text-align: center;
	}

	.lead-button {
		font-size: 12px;
		line-height: 26px;
		padding: 1px 8px;
		margin-top: 32px
	}

	.vertical {
		width: 100%;
	}

	.text-project {
		width: 100%;
		margin: 32px auto 82px;
	}

	.project {
		margin-bottom: 64px;
	}

	.project-text {
		font-size: 16px;
		line-height: 19px;
		top: 16px;
		right: 16px;
	}

	.project-text2 {
		font-size: 16px;
		line-height: 19px;
		top: 16px;
		left: 16px;
	}

	.project-text3 {
		font-size: 16px;
		line-height: 19px;
		top: 16px;
		left: 16px;
	}

	.project-parent {
		flex-direction: column;
		margin-top: 16px;
	}

	.project-item-margin {
		margin-right: 0;
		margin-bottom: 16px;
	}

	.footer {
		padding: 18px 0 0;
	}

	.final {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}

	.final-section {
		width: 100%;
		text-align: center;
	}

	.final-button {
		padding: 40px 0;
	}

	.final-section-button {
		padding: 7px 18px;
	}

	.heading-h3-footer {
		text-align: center;
	}

	.contacts {
		margin-top: 32px;
	}

	.list-li {
		width: 90%;
		line-height: 19px;
		padding-left: 20px;
	}

	.text-rights {
		text-align: center;
		margin-top: 12px;
		padding-bottom: 32px;
	}

	.heading-h2-contact {
		font-size: 24px;
		line-height: 28px;
	}

	.text-contact-us {
		width: 90%;
		margin: 32px auto;
	}

	.massage {
		width: 100%;
		padding: 35px;
	}

	.other-massege {
		height: 90px;
	}

	.contact {
		margin-bottom: 32px;
	}

	.button {
		margin-top: 35px;
		padding: 15px 0;
	}

	.container-map {
		margin: 32px auto;
	}
}